openapi: 3.2.0
info:
  title: ClearVIN Vendor Authentication API
  description: REST API for ClearVIN's VIN decoding and vehicle history data.
  termsOfService: https://www.clearvin.com/en/terms-of-service/
  contact:
    name: ClearVIN
    url: https://www.clearvin.com/en/contact/
  version: '1.0'
servers:
- url: https://www.clearvin.com
  description: ClearVIN production API
tags:
- name: Authentication
paths:
  /rest/vendor/login:
    post:
      operationId: login
      tags:
      - Authentication
      summary: Authenticate and obtain a bearer token
      description: Exchanges account email and password for a JWT bearer token that is valid for 120 minutes. The request must originate from an IP address registered with ClearVIN.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication result with token on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
components:
  schemas:
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
          description: Account email address.
        password:
          type: string
          format: password
          description: Account password.
    LoginResponse:
      type: object
      properties:
        status:
          type: string
          description: Result status, "ok" on success or "error" on failure.
          enum:
          - ok
          - error
        message:
          type: string
          description: Error detail, present when status is "error".
        token:
          type: string
          description: JWT bearer token, present when status is "ok". Valid 120 minutes.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT obtained from /rest/vendor/login, sent as "Authorization: Bearer {token}". Tokens expire after 120 minutes.'
